<html>
    <style>
body{ 
    font-size: 10pt;
    font-family: Courier;
}
    </style>

    <body>
        <center>
            <h1>Welcome to Greg and Saahil's CD Collection</h1>
            ~~~~Now containing
            <b>{{ counter }}</b>
            tracks of music!~~~~<br>
            <br><hr>
            Browse by:<br>
            <a href="/list_all_artists/">Artist</a>
            <a href="/list_all_albums/">Album</a>
            <a href="/list_all_tracks/">Track</a>
            <a href="/list_all_recordcompanies/">Record Companies</a>
            <a href="/list_all_reviews/">Reviews</a>


            <br><br><br><br><hr>
            Contribute a rating to the collection:<br>
            (may need to browse for necessary id's first)<br><br>
        </center>
        <form method="POST" action="/insert_new_critic">
            Create new critic account<br>
            --new <i>critic_name </i><input type="text" name="critic_name"><br>
            <input type="submit" value="Add">
        </form><br>
        
        <form method="POST" action="/insert_new_fan">
            Create new fan account<br>
            --new <i>fan_name </i><input type="text" name="fan_name"><br>
            <input type="submit" value="Add">
        </form>




        <br><br><br><br><hr>
        <center>
            Contribute to the collection:<br>
            (may need to browse for necessary id's first)<br><br>
        </center>
        <form method="POST" action="/insert_new_recordcompany">
            Add record company<br>
            --new <i>company_name </i><input type="text" name="company_name"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_artist">
            Add new artist<br>
            --new <i>artist_name </i><input type="text" name="artist_name"><br>
            --existing <i>company_id </i><input type="text" name="company_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_artist_recordcompany_employment">
            Add new artist/record company employment<br>
            --existing <i>artist_id </i><input type="text" name="artist_id"><br>
            --existing <i>company_id </i><input type="text" name="company_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_album">
            Add new album<br>
            --new <i>album_title </i><input type="text" name="album_title"><br>
            --new <i>release_date</i>, if known (<i>YYYY-MM-DD</i>) <input type="text" name="release_date"><br>
            --existing <i>company_id </i><input type="text" name="company_id"><br>
            --existing <i>artist_id</i>, the album artist <input type="text" name="artist_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_track">
            Add new track<br>
            --new <i>track_num </i><input type="text" name="track_num"><br>
            --new <i>track_title </i><input type="text" name="track_title"><br>
            --new <i>duration</i>, if known <input type="text" name="duration"><br>
            --existing <i>album_id </i><input type="text" name="album_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_recording_credit">
            Add new recording credit<br>
            --new <i>role </i><input type="text" name="role"><br>
            --new <i>recording_date</i>, if known (<i>YYYY-MM-DD</i>) <input type="text" name="recording_date"><br>
            --new <i>recording_location</i>, if known <input type="text" name="recording_location"><br>
            --existing <i>track_num </i><input type="text" name="track_num"><br>
            --existing <i>artist_id</i>, the album artist <input type="text" name="artist_id"><br>
            --existing <i>album_id </i><input type="text" name="album_id"><br>
            <input type="submit" value="Add">
        </form><br>


    </body>
</html>

