<html>
    <style>
body{ 
    font-size: 10pt;
    font-family: Courier;
}
    </style>
    <body>
        <center>
            <h1>Welcome to Greg and Saahil's CD Collection</h1>
            ~~~~Now containing
            <b>{{ counter }}</b>
            tracks of music!~~~~<br>
            <br><hr>
            Browse by:<br>
            <a href="/list_all_artists/">Artist</a>
            <a href="/list_all_albums/">Album</a>
            <a href="/list_all_tracks/">Track</a>
        </center>
        <br>
        <b>Tracks</b>

        <div>
            {% for n in data %}
            <div>{{n}}</div>
            {% endfor %}
        </div>

    </body>
</html>

