<html>
    <style>
body{ 
    font-size: 10pt;
    font-family: Courier;
}
    </style>
    <body>
        <center>
            <h1>Welcome to Greg and Saahil's CD Collection</h1>
            ~~~~Now containing
            <b>{{ counter }}</b>
            tracks of music!~~~~<br>
            <br><hr>
            Browse by:<br>
            <a href="/list_all_artists/">Artist</a>
            <a href="/list_all_albums/">Album</a>
            <a href="/list_all_tracks/">Track</a>
            <a href="/list_all_recordcompanies/">Record Companies</a>
        </center>
        <br>
        <b>
            Albums by
            {% for n in artist_name %}
            {{n}}
            {% endfor %}
        </b>

        <div>
            {% for n in data %}
            <div>{{n}}</div>
            {% endfor %}
        </div>

        <form method="POST" action="/list_tracks_given_album_id">
            <p>View tracks on album (enter album #) <input type="text" name="album_id"> <input type="submit" value="Go"></p>
        </form>

    </body>
</html>

