<html>
    <style>
body{ 
    font-size: 10pt;
    font-family: Courier;
}
    </style>
    <body>
        <center>
            <h1>Welcome to Greg and Saahil's CD Collection</h1>
            ~~~~Now containing
            <b>{{ counter }}</b>
            tracks of music!~~~~<br>
            <br><hr>
            Browse by:<br>
            <a href="/list_all_artists/">Artist</a>
            <a href="/list_all_albums/">Album</a>
            <a href="/list_all_tracks/">Track</a>
            <a href="/list_all_recordcompanies/">Record Companies</a>
            <a href="/list_all_reviews/">Reviews</a>
            <a href="/list_all_users/">Users</a>
            <a href="/list_all_publications/">Publications</a>
        </center>
        <br>
        <b>
            Critics Employed By Publication:
            {% for n in pub_name %}
            {{n}}
            {% endfor %}
        </b><br>
        #<i>person_id</i>: [<i>person_name</i>]<br><br>

        <div>
            {% for n in data %}
            <div>{{n}}</div>
            {% endfor %}
        </div>

        <center> 
            <hr>
            <b>Contribute a rating to the collection:</b><br>
            (may need to browse for necessary id's first)<br><br>
        </center>
        <form method="POST" action="/insert_new_critic">
            <b>Create new critic account</b><br>
            --new <i>critic_name </i><input type="text" name="critic_name"><br>
            <input type="submit" value="Add">
        </form><br>
        
        <form method="POST" action="/insert_new_fan">
            <b>Create new fan account</b>
            <br>
            --new <i>fan_name </i><input type="text" name="fan_name"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_review">
            <b>Create new review</b>
            <br>
            --existing <i>person_id </i><input type="text" name="person_id"><br>
            --existing <i>album_id </i><input type="text" name="album_id"><br>
            --new <i>score </i>[<i>0-5</i>] <input type="text" name="score"><br>
            --new <i>review_date (<i>YYYY-MM-DD</i>) </i><input type="text" name="review_date"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_critic_publication_employment">
            <b>Add new critic/publication employment</b>
        <br>
            --existing <i>critic_id </i><input type="text" name="person_id"><br>
            --existing <i>pub_id </i><input type="text" name="pub_id"><br>
            <input type="submit" value="Add">
        </form>

        <br><hr>
        <center>
            <b>Contribute music to the collection:</b><br>
            (may need to browse for necessary id's first)<br><br>
        </center>
        <form method="POST" action="/insert_new_recordcompany">
            <b>Add record company</b>
            <br>
            --new <i>company_name </i><input type="text" name="company_name"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_artist">
            <b>Add new artist</b><br>
            --new <i>artist_name </i><input type="text" name="artist_name"><br>
            --existing <i>company_id </i><input type="text" name="company_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_artist_recordcompany_employment">
            <b>Add new artist/record company employment</b>
            <br>
            --existing <i>artist_id </i><input type="text" name="artist_id"><br>
            --existing <i>company_id </i><input type="text" name="company_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_album">
            <b>Add new album</b>
                <br>
            --new <i>album_title </i><input type="text" name="album_title"><br>
            --new <i>release_date</i>, if known (<i>YYYY-MM-DD</i>) <input type="text" name="release_date"><br>
            --existing <i>company_id </i><input type="text" name="company_id"><br>
            --existing <i>artist_id</i>, the album artist <input type="text" name="artist_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_track">
            <b>Add new track</b>
            <br>
            --new <i>track_num </i><input type="text" name="track_num"><br>
            --new <i>track_title </i><input type="text" name="track_title"><br>
            --new <i>duration</i>, if known <input type="text" name="duration"><br>
            --existing <i>album_id </i><input type="text" name="album_id"><br>
            <input type="submit" value="Add">
        </form><br>

        <form method="POST" action="/insert_new_recording_credit">
            <b>Add new recording credit</b><br>
            --new <i>role </i><input type="text" name="role"><br>
            --new <i>recording_date</i>, if known (<i>YYYY-MM-DD</i>) <input type="text" name="recording_date"><br>
            --new <i>recording_location</i>, if known <input type="text" name="recording_location"><br>
            --existing <i>track_num </i><input type="text" name="track_num"><br>
            --existing <i>artist_id</i>, the album artist <input type="text" name="artist_id"><br>
            --existing <i>album_id </i><input type="text" name="album_id"><br>
            <input type="submit" value="Add">
        </form><br>



    </body>
</html>
